@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  /* 	font-size: 14px; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/gotham-pro/GothamPro-Medium.woff) format("woff"), url(../fonts/gotham-pro/GothamPro.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "roboto-mono";
  src: url(../fonts/RobotoMono-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono-T";
  src: url(../fonts/RobotoMono-Thin.woff) format("woff");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "object-sans";
  src: url(../fonts/ObjectSans-Heavy.woff) format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

/* @font-face {
	font-family: "SF UI Display";
	src: url(../fonts/sf-ui-display.otf) format("otf");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
} */
:root {
  --fs-title: 12.5rem;
  --fs-title-secondary: 3rem;
  --lh-title: 1.13em;
  --circle-drift: 103px;
  --ff-primary: 'roboto-mono';
  --ff-accent: 'object-sans';
  --fs-primary: 2.25rem;
  --fs-accent: 5rem;
  --clr-text: #fff;
  --clr-: #fff;
  --clr-: #fff;
  --clr-: #fff;
  --clr-: #fff;
}

.grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: clamp(50px, 9.11vw, 145px) 1fr clamp(50px, 9.11vw, 145px);
      grid-template-columns: clamp(50px, 9.11vw, 145px) 1fr clamp(50px, 9.11vw, 145px);
      grid-template-areas: "nav main null";
}

.grid__main-col {
  margin: 0 auto;
  grid-area: "main";
  position: relative;
  z-index: 2;
}

.grid__nav-col {
  grid-area: "nav";
  position: relative;
  z-index: 3;
}

.grid__null-col {
  grid-area: "null";
  position: relative;
  z-index: 1;
}

#line {
  position: absolute;
  width: 1917px;
  height: 14842px;
  top: 286px;
  right: -7%;
  -webkit-box-shadow: inset 0px -25px 0px rgba(0, 35, 67, 0.55);
          box-shadow: inset 0px -25px 0px rgba(0, 35, 67, 0.55);
  -webkit-filter: drop-shadow(0px 87px 0px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 87px 0px rgba(0, 0, 0, 0.25));
}

.nav {
  position: fixed;
  height: 50vh;
  margin-top: 25vh;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-self: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.link {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 65px;
  position: relative;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-bottom: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  /*todo Добить в относительные значения*/
}

.header__1white, .header__2blue, .header__3deepblue {
  position: absolute;
  top: 0;
  left: 0;
  font: inherit;
}

.header__slogan {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-family: 'Roboto Mono-T';
  font-weight: 100;
  font-size: var(--fs-title-secondary);
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  justify-self: flex-end;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  position: relative;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  /* 		height: calc((var(--title-font-s) * 2)); */
  z-index: 1;
}

.header__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(7.813rem, calc(14.6vw - 3rem), 12.5rem);
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: relative;
  justify-self: flex-start;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  height: calc((var(--lh-title) * 2));
  overflow: initial;
}

.header__1white {
  mix-blend-mode: lighten;
  color: rgba(255, 255, 255, 0.95);
  z-index: 13;
  left: -2px;
  top: -4px;
}

.header__2blue {
  top: 0px;
  left: 0px;
  color: #2495ff;
  mix-blend-mode: lighten;
  -webkit-filter: inner-shadow(6px 4px 0px 0px rgba(0, 0, 0, 0.25) inset);
          filter: inner-shadow(6px 4px 0px 0px rgba(0, 0, 0, 0.25) inset);
  z-index: 2;
}

.header__3deepblue {
  left: 4.01px;
  top: -2px;
  mix-blend-mode: luminosity;
  color: rgba(0, 22, 66, 0.95);
  -webkit-filter: drop-shadow(-3px 2px 0px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-3px 2px 0px rgba(0, 0, 0, 0.25));
  z-index: 1;
}

@media (max-width: 1200px) {
  .header__title {
    font-size: calc(var(--fs-title) * 0.625);
  }
}

@media (max-width: 900px) {
  .header__title {
    font-size: calc(var(--fs-title) * 0.4688);
  }
}

@media (max-width: 600px) {
  .header__title {
    font-size: calc(var(--fs-title) * 0.3125);
  }
}

.main {
  display: block;
}

.main__section {
  width: 100%;
  margin-bottom: 10vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.subtitle {
  position: relative;
  z-index: 1;
  font-family: var(--ff-accent);
  font-weight: 800;
  font-style: normal;
  font-size: var(--fs-accent);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  margin-left: 50px;
}

.subtitle h4 {
  font-size: calc(var(--fs-accent) * 0.6);
}

.text-box {
  position: relative;
  padding: 1.1em 0.5em 1.1em 1.39em;
  /* отступы отсчитываются от --fs-primary */
  background: rgba(0, 0, 0, 0.66);
  mix-blend-mode: hard-light;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: clamp(0.875rem, calc(5vw - 1rem), 2.25rem);
  /* тут нудо сделать медиазапросы и в них уже по частям назначать clamp */
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #00d1ff;
  width: 50%;
  left: 50%;
  z-index: 2;
}

#intro {
  position: relative;
  left: 190px;
  width: 46.5vw;
  /* 	aspect-ratio: 11/5; */
  min-height: 100px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  height: 950px;
  /*!todo: настроить относительный размер */
  overflow-y: scroll;
}

.about .subtitle {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.regions {
  position: relative;
  height: 1470px;
}

.regions h3 {
  margin-bottom: 100px;
}

.equipment__grid-container {
  font-family: Roboto Mono;
  font-weight: 400;
  text-align: left;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "tb1 tb1" "tb2 tb4" "tb3 tb4";
}

.grid2-item {
  /* 	background-color: rgba(0, 0, 0, 0.66);
	mix-blend-mode: hard-light; */
  min-height: 50px;
  min-width: 50px;
  max-width: 100%;
}

#tab1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.tab-subgrid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.tab-subgrid section {
  font-size: 20px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1.75em;
          column-gap: 1.75em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-subgrid p {
  /* 	font-family: inherit;
	font-size: inherit; */
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
}

.table-head {
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 48px;
  line-height: 60px;
}

.characteristic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 max-content;
          flex: 0 1 max-content;
  text-color: #a3d9ff;
}

.chr-value {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-color: white;
  font-size: clamp(20px, 40px, 40px);
}

.tb-line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

/* технический класс */
.sfour {
  min-height: 16005px;
}

#map {
  position: absolute;
  overflow: visible;
  top: -200px;
  left: -145px;
  z-index: 0;
  opacity: 0.9;
  -webkit-filter: drop-shadow(0px 9.05121px 9.05121px #000000) drop-shadow(0px 36.2049px 4.52561px rgba(33, 198, 255, 0.64));
          filter: drop-shadow(0px 9.05121px 9.05121px #000000) drop-shadow(0px 36.2049px 4.52561px rgba(33, 198, 255, 0.64));
}

#dotmap {
  position: absolute;
  overflow: visible;
  top: 520px;
  left: -100px;
  z-index: 0;
}

.card-box {
  width: minmax(100px, 100%);
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 0 auto;
  overflow-x: visible;
  position: relative;
  margin-bottom: 650px;
  margin-top: 150px;
}

.card-box__list {
  margin: 0 auto;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

.card-box__item {
  width: clamp(100px, 33%, 500px);
  aspect-ratio: 5/3;
  position: relative;
  border: 5px dotted;
}

.card-box__rectangle {
  width: 100%;
  aspect-ratio: 5/3;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 139, 165, 0.575)), to(rgba(209, 233, 255, 0.925)));
  background: linear-gradient(180deg, rgba(24, 139, 165, 0.575) 0%, rgba(209, 233, 255, 0.925) 100%);
  mix-blend-mode: overlay;
}

.card-box__circle {
  width: 45.08%;
  height: 72.65%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 6.75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card-box__light-box {
  width: 51%;
  aspect-ratio: 1/1.2;
  margin: 0 auto;
  -webkit-transform: translate(25.5px, 33.5px);
          transform: translate(25.5px, 33.5px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 139, 165, 0.3)), to(rgba(209, 233, 255, 0.11)));
  background: linear-gradient(180deg, rgba(24, 139, 165, 0.3) 0%, rgba(209, 233, 255, 0.11) 100%);
  mix-blend-mode: color-dodge;
  /* 		border: 2px solid gold; */
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.footer {
  display: block;
}

body {
  /* 	background-color: hsla(0, 0%, 24%, 1); */
  background-blend-mode: lighten;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.69%, #35688C), color-stop(22.92%, #4A8FAD), color-stop(49.48%, #5DA9D5), color-stop(67%, #528CC2), to(#183958));
  background: linear-gradient(180deg, #35688C 4.69%, #4A8FAD 22.92%, #5DA9D5 49.48%, #528CC2 67%, #183958 100%);
}

/* .linebox {
	background: url('../img/Line.svg') 100% 286px/1917px 14842px no-repeat;
} */
/* .nav,
.header,
.main__section {
	box-sizing: border-box;

} */
/*# sourceMappingURL=slyle_css.css.map */