@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&family=Roboto+Mono&display=swap");
html {
  background: linear-gradient(180deg, #35688d 4.69%, #4A8FAD 22.92%, #5DA9D5 49.48%, #528CC2 67%, #183958 100%);
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  /* 	font-size: 14px; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/gotham-pro/GothamPro-Medium.woff) format("woff"), url(../fonts/gotham-pro/GothamPro.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "roboto-mono";
  src: url(../fonts/RobotoMono-Regular.woff) format("woff"), url(../fonts/RobotoMono-Thin.woff) format("woff"), url(../fonts/RobotoMono-Light.woff) format("woff"), url(../fonts/RobotoMono-Bold.woff) format("woff");
  font-style: normal;
  /* font-weight: 400; */
  font-display: swap;
}

/* @font-face {
	font-family: "Roboto Mono-T";
	src: url(../fonts/RobotoMono-Thin.woff) format("woff");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "Roboto light";
	src: url(../fonts/RobotoMono-Light.woff) format("woff");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
} */
@font-face {
  font-family: "object-sans";
  src: url(../fonts/ObjectSans-Heavy.woff) format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

/* @font-face {
	font-family: "SF UI Display";
	src: url(../fonts/sf-ui-display.otf) format("otf");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
} */
:root {
  --ff-primary: 'roboto-mono';
  --ff-accent: 'object-sans';
  --fs-primary: clamp(1.875rem, calc(3.15vw - 1rem), 2.25rem);
  --fs-primary-d1200: clamp(1.5rem, calc(4vw - 1rem), 1.875rem);
  --fs-primary-d900: clamp(1.25rem, calc(5.3vw - 1rem), 1.5rem);
  --fs-primary-d600: 16px;
  --fs-accent: clamp(3.75rem, calc(6vw - 1rem), 5rem);
  --fs-accent-d1200: clamp(2.5rem, calc(6.3vw - 1rem), 3.75rem);
  --fs-accent-d900: clamp(1.25rem, calc(5.3vw - 1rem), 2.5rem);
  --fs-accent-d600: 20px;
  --clr-text-table: hsla(205, 100%, 82%, 1);
  --clr-: #fff;
  --clr-: #fff;
  --clr-: #fff;
  --clr-: #fff;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: clamp(50px, 9.11vw, 145px) 1fr clamp(50px, 9.11vw, 145px);
  grid-template-areas: "nav main null";
  min-height: 100vh;
}

.grid__main-col {
  margin: 0 auto;
  grid-area: "main";
  position: relative;
  z-index: 2;
  min-width: 0;
  max-width: 3000px;
}

.grid__nav-col {
  grid-area: "nav";
  position: relative;
  z-index: 3;
}

.grid__null-col {
  grid-area: "null";
  position: relative;
  z-index: 1;
}

#line {
  position: absolute;
  width: 1917px;
  height: 14842px;
  top: 286px;
  right: -7%;
  box-shadow: inset 0px -25px 0px rgba(0, 35, 67, 0.55);
  filter: drop-shadow(0px 87px 0px rgba(0, 0, 0, 0.25));
}

.nav {
  position: fixed;
  height: 50vh;
  margin-top: 25vh;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__item {
  transform: rotate(270deg);
  margin-bottom: 70px;
  text-decoration: none;
  color: #fff;
}

.link {
  display: block;
}

.header {
  display: flex;
  width: 100%;
  margin-top: 6.02vh;
  position: relative;
  min-height: fit-content;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(7.813rem, calc(14.6vw - 3rem), 12.5rem);
  /*todo Добить в относительные значения*/
}

.header__1white, .header__2blue, .header__3deepblue {
  position: absolute;
  top: 0;
  left: 0;
  font: inherit;
}

.header__slogan {
  text-align: center;
  flex: 1 1 100%;
  font-family: 'Roboto Mono-T';
  font-weight: 100;
  font-size: 0.24em;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.header__logo {
  flex: 1 1 30%;
  justify-self: flex-end;
  align-self: stretch;
  position: relative;
  min-height: 1%;
  min-width: 1%;
  z-index: 1;
}

.header__logo img {
  width: 15.1vw;
  position: absolute;
  max-width: 290px;
  min-height: 1%;
  right: -20%;
}

.header__title {
  flex: 1 0 70%;
  min-height: fit-content;
  position: relative;
  justify-self: flex-start;
  align-self: stretch;
  height: 2.26em;
  overflow: initial;
}

.header__1white {
  mix-blend-mode: lighten;
  color: rgba(255, 255, 255, 0.95);
  z-index: 13;
  left: -2px;
  top: -4px;
}

.header__2blue {
  top: 0px;
  left: 0px;
  color: rgba(36, 149, 255, 0.95);
  mix-blend-mode: lighten;
  filter: inner-shadow(6px 4px 0px 0px rgba(0, 0, 0, 0.25) inset);
  z-index: 2;
}

.header__3deepblue {
  left: 4.01px;
  top: -2px;
  mix-blend-mode: luminosity;
  color: rgba(0, 22, 66, 0.95);
  filter: drop-shadow(-3px 2px 0px rgba(0, 0, 0, 0.25));
  z-index: 1;
}

@media (max-width: 1200px) {
  .header {
    font-size: clamp(5.875rem, calc(14.4vw - 3rem), 7.813rem);
  }
}

@media (max-width: 900px) {
  .header {
    font-size: clamp(3.875rem, calc(14.3vw - 3rem), 5.875rem);
  }
}

@media (max-width: 600px) {
  .header {
    font-size: clamp(3rem, calc(14vw - 3rem), 3.875rem);
  }
}

.main {
  display: block;
}

.main__section {
  width: 100%;
  margin-bottom: 10vh;
  min-height: fit-content;
}

.subtitle {
  position: relative;
  z-index: 3;
  font-family: var(--ff-accent);
  font-weight: 800;
  font-style: normal;
  font-size: var(--fs-accent);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  margin-left: 0.625em;
  margin-bottom: 10vh;
}

.subtitle h4 {
  font-size: calc(var(--fs-accent) * 0.6);
  font-weight: 600;
}

.text-box {
  position: relative;
  padding: 1.1em 0.5em 1.1em 1.39em;
  /* отступы отсчитываются от --fs-primary */
  background: rgba(0, 0, 0, 0.66);
  mix-blend-mode: hard-light;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--fs-primary);
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #a3d9ff;
  width: 47%;
  left: 40%;
  z-index: 2;
  margin: 0 0 2em 0;
  /* InnerShawow убрать у всех кроме персонал*/
  /* box-shadow: inset 17px -26px 75px rgba(255, 255, 255, 0.25); */
}

@media (max-width: 1200px) {
  .text-box {
    font-size: var(--fs-primary-d1200);
  }
  .subtitle {
    font-size: var(--fs-accent-d1200);
  }
  .subtitle h4 {
    font-size: calc(var(--fs-accent-d1200) * 0.6);
  }
}

@media (max-width: 900px) {
  .text-box {
    font-size: var(--fs-primary-d900);
  }
  .subtitle {
    font-size: var(--fs-accent-d900);
  }
  .subtitle h4 {
    font-size: calc(var(--fs-accent-d900) * 0.6);
  }
}

@media (max-width: 600px) {
  .text-box {
    font-size: var(--fs-primary-d600);
  }
  .subtitle {
    font-size: var(--fs-accent-d600);
  }
  .subtitle h4 {
    font-size: calc(var(--fs-accent-d600) * 0.6);
  }
}

#in2 {
  position: relative;
  mix-blend-mode: normal;
}

.patch1 {
  background: rgba(53, 104, 141, 0.637);
  mix-blend-mode: color-dodge;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 50%;
}

#intro {
  position: relative;
  left: 13%;
  width: 54.29%;
  /* 	aspect-ratio: 11/5; */
  min-height: 100px;
  background-image: url(/temp/Rectangle63.svg);
  background-color: #525252;
  background-blend-mode: hard-light;
  margin-bottom: 16vh;
  z-index: 2;
}

.about, .excellence {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 87.96vh;
  /* todo: настроить относительный размер */
  overflow-y: scroll;
}

.about .subtitle, .excellence .subtitle {
  position: sticky;
  top: 0;
  align-self: flex-start;
  margin-bottom: 0px;
}

.excellence .text-box, .contacts .text-box {
  left: 0;
}

.regions {
  position: relative;
  height: 1470px;
  margin-bottom: 30vh;
}

.regions h3 {
  margin-bottom: 30vh;
}

.software img {
  position: absolute;
  left: -100%;
  top: 0;
}

.software .text-box {
  left: 50%;
  position: relative;
}

.slider {
  display: none;
}

#map {
  position: absolute;
  overflow: visible;
  top: -200px;
  left: -145px;
  z-index: 0;
  opacity: 0.9;
  filter: drop-shadow(0px 9.05121px 9.05121px #000000) drop-shadow(0px 36.2049px 4.52561px rgba(33, 198, 255, 0.64));
}

#dotmap {
  position: absolute;
  overflow: visible;
  top: 520px;
  left: -100px;
  z-index: 0;
}

.card-box {
  width: 100%;
  min-height: fit-content;
  margin: 0 auto;
  overflow-x: visible;
  /* 	position: relative; */
  margin-bottom: 14vh;
  font-family: var(--ff-primary);
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 123.5%;
}

.card-box__list {
  margin: 0 auto;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  gap: 70px;
}

.card-box__item {
  width: clamp(100px, 29%, 500px);
  aspect-ratio: 5/3;
  position: relative;
  /* border: 5px dotted; */
}

.card-box__rectangle {
  width: 100%;
  aspect-ratio: 5/3;
  background: linear-gradient(180deg, rgba(24, 139, 165, 0.575) 0%, rgba(209, 233, 255, 0.925) 100%);
  mix-blend-mode: overlay;
}

.card-box__circle {
  width: 45.08%;
  height: 72.65%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 6.75%;
  transform: translateX(-50%);
}

.card-box__text-box-mini, .card-box__light-box {
  width: 51%;
  aspect-ratio: 1/1.2;
  margin: 0 auto;
  position: absolute;
  left: 30%;
  top: 12.41%;
  font-size: inherit;
  padding: 1.2em 0.85em 0 2.27em;
}

.card-box__light-box {
  /* transform: translate(25.5px, 33.5px); */
  background: linear-gradient(180deg, rgba(24, 139, 165, 0.3) 0%, rgba(209, 233, 255, 0.11) 100%);
  mix-blend-mode: color-dodge;
  /* 		border: 2px solid gold; */
}

.card-box__text-box-mini {
  height: 89%;
  overflow: hidden;
}

.card-box__text-box-mini h5 {
  font-size: 1.56em;
  font-weight: 900;
  padding: 0 0 1.5em;
  line-height: 130%;
}

.card-box__text-box-mini p {
  padding: 0 0 1.3em;
}

.subtitle h4 {
  margin-top: 14vh;
}

.equipment {
  width: 100%;
}

.equipment__tables {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.25rem;
  text-align: left;
  line-height: 1.245em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.3fr repeat(2, 0.2fr) 0.7fr;
  grid-template-rows: repeat(3, fit-content);
  row-gap: 2rem;
  color: white;
  mix-blend-mode: difference;
  margin: 0 0 4em 0;
}

.tables-item {
  background-color: rgba(0, 0, 0, 0.66);
  mix-blend-mode: hard-light;
  min-height: 50px;
  min-width: 50px;
  max-width: 100%;
  padding: 1em 4em 2em;
}

#tab1 {
  grid-area: 1 / 1 / 2 / 6;
}

#tab2 {
  grid-area: 2 / 1 / 3 / 3;
}

#tab3 {
  grid-area: 3 / 1 / 4 / 4;
}

#tab4 {
  grid-area: 2 / 5 / 4 / 6;
}

.tab1-columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2em;
}

.tab1-columns > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
  margin: 0 3em 0 0;
}

.tab1-columns section {
  font-size: inherit;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 2em;
  justify-content: space-between;
  align-items: center;
}

.tab1-columns span {
  font-size: 0.5em;
}

.tab1-columns span #magnadur {
  font-size: 0.75em;
}

.table-header {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 2.4em;
  line-height: 60px;
  margin-bottom: 0.625em;
}

.tb-characteristic {
  flex: 0 1 content;
  color: var(--clr-text-table);
  mix-blend-mode: difference;
}

.tb-value {
  flex: 0 1 35%;
  font-size: 2em;
}

.tb-line {
  flex: 1 1 1%;
  align-self: center;
  min-height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='tb-line'%3E%3Ccircle cx='6%25' cy='50%25' r='6' fill='hsla(0, 0%25, 100%25, 1)' vector-effect='non-scaling-stroke'%3E%3C/circle%3E%3Cline x1='6%25' y1='50%25' x2='94%25' y2='50%25' stroke-width='2' stroke='hsla(0, 0%25, 100%25, 1)' vector-effect='non-scaling-stroke'/%3E%3Ccircle cx='94%25' cy='50%25' r='6' fill='hsla(0, 0%25, 100%25, 1)' vector-effect='non-scaling-stroke'%3E%3C/circle%3E%3C/svg%3E");
}

#sib22 {
  width: 116%;
  position: relative;
  left: -8%;
  margin: 10vh 0;
}

.tab-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
  margin: 0 3em 0 0;
}

.tab-column section {
  font-size: inherit;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 2em;
  justify-content: space-between;
  align-items: center;
}

.tb2-characteristic {
  flex: 1 0 content;
  color: var(--clr-text-table);
  mix-blend-mode: difference;
}

.tb2-value {
  flex: 0 1 50%;
  font-size: 1.5em;
}

.tb3-characteristic {
  flex: 1 0 28%;
  color: var(--clr-text-table);
  mix-blend-mode: difference;
}

.tb3-value {
  flex: 0 1 25%;
  font-size: 1.5em;
}

.tb3-value span {
  font-size: 0.7em;
}

.tb4-characteristic {
  flex: 0 1 100%;
  font-size: 1.25em;
  color: var(--clr-text-table);
  line-height: 1.5em;
}

#tab4 .tab-column {
  gap: 4em;
}

.text-box {
  left: 30%;
}

.text-box h5 {
  color: white;
  font-size: 1.11em;
  margin: 0 0 0.5em;
}

/* 
<p class="tb-characteristic"></p>
<p class="tb-value"></p>


*/
.footer {
  display: block;
}

body {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  mix-blend-mode: normal;
}

.background {
  position: relative;
  min-width: 100%;
  height: fit-content;
  z-index: 0;
  background: linear-gradient(180deg, #35688C 4.69%, #4A8FAD 22.92%, #5DA9D5 49.48%, #528CC2 67%, #183958 100%);
  background-image: url("/img/Line.svg") 100% no-repeat;
}
/*# sourceMappingURL=slyle_css.css.map */