#map {
	position: absolute;
	overflow: visible;
	top: -200px;
	left: -145px;
	z-index: 0;
	opacity: 0.9;
	filter: drop-shadow(0px 9.05121px 9.05121px #000000) drop-shadow(0px 36.2049px 4.52561px rgba(33, 198, 255, 0.64));
}

#dotmap {
	position: absolute;
	overflow: visible;
	top: 520px;
	left: -100px;
	z-index: 0;

	

}