@font-face {
	font-family: "Gotham Pro";
	src: url(../fonts/gotham-pro/GothamPro-Medium.woff) format("woff"),
		url(../fonts/gotham-pro/GothamPro.woff) format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}



@font-face {
	font-family: "roboto-mono";
	src: url(../fonts/RobotoMono-Regular.woff) format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Roboto Mono-T";
	src: url(../fonts/RobotoMono-Thin.woff) format("woff");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "object-sans";
	src: url(../fonts/ObjectSans-Heavy.woff) format("woff");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}



@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&family=Roboto+Mono&display=swap');

/* @font-face {
	font-family: "SF UI Display";
	src: url(../fonts/sf-ui-display.otf) format("otf");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
} */