.grid {
	margin: 0 auto;
	display: grid;
	grid-template-columns: clamp(50px, 9.11vw, 145px) 1fr clamp(50px, 9.11vw, 145px);
	grid-template-areas: "nav main null";

	&__main-col {
		margin: 0 auto;
		grid-area: "main";
		position: relative;
		z-index: 2;

	}

	&__nav-col {
		grid-area: "nav";
		position: relative;
		z-index: 3;
	}

	&__null-col {
		grid-area: "null";
		position: relative;
		z-index: 1;
	}
}

#line {
	position: absolute;
	width: 1917px;
	height: 14842px;
	top: 286px;
	right: -7%;

	box-shadow: inset 0px -25px 0px rgba(0, 35, 67, 0.55);
	filter: drop-shadow(0px 87px 0px rgba(0, 0, 0, 0.25));
}