.grid {
	margin: 0 auto;
	display: grid;
	grid-template-columns: clamp(50px, 9.11vw, 145px) 1fr clamp(50px, 9.11vw, 145px);
	grid-template-areas: "nav main null";
	min-height: 100vh;

	&__main-col {
		margin: 0 auto;
		grid-area: main;
		position: relative;
		z-index: 2;
		min-width: 0;
		max-width: 3000px;
	}

	&__nav-col {
		grid-area: nav;
		position: relative;
		z-index: 3;
	}

	&__null-col {
		grid-area: null;
		position: relative;
		z-index: 1;
	}
}

// ! МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА
@include for-desktop-down {}
@include for-tablet-down {}
@include for-phone-down {
	.grid {
		grid-template-columns: clamp(30px, 6.7vw, 145px) 1fr clamp(30px, 6.7vw, 145px);
	}
}