.header {
	display: flex;
	width: 100%;
	margin-top: 65px;
	position: relative;
	min-height: fit-content;
	margin-bottom: 10vh;
	flex-wrap: wrap;
	align-content: flex-start;


	/*todo Добить в относительные значения*/
	&__1white,
	&__2blue,
	&__3deepblue {
		position: absolute;
		top: 0;
		left: 0;
		font: inherit;
	}

	&__slogan {
		text-align: center;
		flex: 1 1 100%;
		font-family: 'Roboto Mono-T';
		font-weight: 100;
		font-size: var(--fs-title-secondary);
		letter-spacing: 0.07em;
		color: #FFFFFF;
	}

	&__logo {
		flex: 1 1 20%;
		justify-self: flex-end;
		align-self: stretch;
		position: relative;
		min-height: fit-content;
		z-index: 1;
	}

	&__title {
		flex: 1 1 80%;
		font-family: 'Gotham Pro';
		font-style: normal;
		font-weight: 400;
		font-size: clamp(7.813rem, calc(14.6vw - 3rem), 12.5rem);
		min-height: fit-content;
		position: relative;
		justify-self: flex-start;
		align-self: stretch;
		height: calc((var(--lh-title) * 2));
		overflow: initial;
	}

	&__1white {
		mix-blend-mode: lighten;
		color: hsla(0, 0%, 100%, 0.95);
		z-index: 13;
		left: -2px;
		top: -4px;
	}

	&__2blue {
		top: 0px;
		left: 0px;
		color: hsla(209, 100%, 57%, 1);
		mix-blend-mode: lighten;
		filter: inner-shadow(6px 4px 0px 0px hsla(0, 0%, 0%, 0.25) inset);
		z-index: 2;
	}

	&__3deepblue {
		left: 4.01px;
		top: -2px;
		mix-blend-mode: luminosity;
		color: hsla(220, 100%, 13%, 0.95);
		filter: drop-shadow(-3px 2px 0px hsla(0, 0%, 0%, 0.25));
		z-index: 1;
	}
}

@include for-desktop-down {
	.header__title {
		font-size: calc(var(--fs-title) * 0.625);
	}
}

@include for-tablet-down {
	.header__title {
		font-size: calc(var(--fs-title) * 0.4688);
	}
}

@include for-phone-down {
	.header__title {
		font-size: calc(var(--fs-title) * 0.3125);
	}
}