.main {
	display: block;

	&__section {
		width: 100%;
		margin-bottom: 10vh;
		min-height: fit-content;
	}
}

.subtitle {
	position: relative;
	z-index: 3;
	font-family: var(--ff-accent);
	font-weight: 800;
	font-style: normal;
	font-size: var(--fs-accent);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
	margin-left: 0.625em;
	margin-bottom: 10vh;
}

.subtitle h4 {
	font-size: calc(var(--fs-accent) * 0.6);
	font-weight: 600;
}

.text-box {
	position: relative;
	padding: 1.1em 0.5em 1.1em 1.39em;
	/* отступы отсчитываются от --fs-primary */
	background: rgba(0, 0, 0, 0.66);
	mix-blend-mode: hard-light;
	font-family: var(--ff-primary);
	font-weight: 400;
	font-size: var(--fs-primary);
	line-height: 1.5em;
	letter-spacing: 0.02em;
	color: hsla(205, 100%, 82%, 1);
	width: 47%;
	left: 40%;
	z-index: 2;
	margin: 0 0 2em 0;
	/* InnerShawow убрать у всех кроме персонал*/
	/* box-shadow: inset 17px -26px 75px rgba(255, 255, 255, 0.25); */
}

@include for-desktop-down {
	.text-box {
		font-size: var(--fs-primary-d1200);
	}

	.subtitle {
		font-size: var(--fs-accent-d1200);
	}

	.subtitle h4 {
		font-size: calc(var(--fs-accent-d1200) * 0.6);
	}
}

@include for-tablet-down {
	.text-box {
		font-size: var(--fs-primary-d900);
	}

	.subtitle {
		font-size: var(--fs-accent-d900);
	}

	.subtitle h4 {
		font-size: calc(var(--fs-accent-d900) * 0.6);
	}
}

@include for-phone-down {
	.text-box {
		font-size: var(--fs-primary-d600);
		// размеры нужно будет подогнать к мобильной версии после завершения ПК версии
	}

	.subtitle {
		font-size: var(--fs-accent-d600);
	}

	.subtitle h4 {
		font-size: calc(var(--fs-accent-d600) * 0.6);
	}
}

#in2 {
	position: relative;
	mix-blend-mode: normal;
}

.patch1 {
	background: hsla(205, 45%, 38%, 0.637);
	mix-blend-mode: color-dodge;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 50%;
}

//технический объект для проверки blend-mode

#intro {
	position: relative;
	left: 13%;
	width: 54.29%;
	/* 	aspect-ratio: 11/5; */
	min-height: 100px;
	background-image: url(/temp/Rectangle63.svg);
	background-color: hsla(0, 0%, 32%, 1);

	background-blend-mode: hard-light;
	margin-bottom: 16vh;
	z-index: 2;

}


// О НАС, ПРЕИМУЩЕСТВА
// прокручиваемые участки
.about, .excellence {
	display: flex;
	flex-direction: column;
	gap: 0;
	height: 87.96vh;
	/* todo: настроить относительный размер */
	overflow-y: scroll;
}

.about .subtitle, .excellence .subtitle {
	position: sticky;
	top: 0;
	align-self: flex-start;
	margin-bottom: 0px;

}

.excellence .text-box, .contacts .text-box {
	left: 0;
}

//партия регионов 

.regions {
	position: relative;
	height: 1470px;
	margin-bottom: 30vh;
}

.regions h3 {
	margin-bottom: 30vh;
}


// ПО секция

.software img {
	position: absolute;
	left: -100%;
	top: 0;
}

.software .text-box {
	left: 50%;
	position: relative;
}

.slider {
	display: none;
}