.main {
	display: block;

	&__section {
		width: 100%;
		margin-bottom: 10vh;
		min-height: fit-content;
		scroll-margin-top: 3em;
		border: .2em solid purple;
	}

}


.main__section:first-of-type .text-box::before {
	content: url(/img/dec-button.svg);
	position: absolute;
	max-width: 50%;
	top: -0;
	display: none; //украшение блока выключение

}

.subtitle {
	position: relative;
	z-index: 3;
	font-family: var(--ff-accent);
	font-weight: 800;
	font-style: normal;
	font-size: var(--fs-accent);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 0.75em;

}

.subtitle h4 {
	font-size: calc(var(--fs-accent) * 0.6);
	font-weight: 600;
}


.text-box {
	word-wrap: break-word;
	position: relative;
	padding: 1.1em 0.5em 1.1em 1.39em;
	// отступы отсчитываются от --fs-primary 
	background: rgba(0, 0, 0, .66);
	font-family: var(--ff-primary);
	font-weight: 400;
	font-size: var(--fs-primary);
	line-height: 1.5em;
	letter-spacing: 0.02em;
	color: hsla(205, 100%, 82%, 1);
	width: 47%;
	left: 40%;
	z-index: 10;
	margin: 0 0 2em;

}

#intro {
	position: relative;
	left: 13%;
	width: 54.29%;
	min-height: 10px;
	////mix-blend-mode: hard-light;
}

// прокручиваемые участки
.cylinder {
	display: flex;
	flex-direction: column;
	gap: 0;
	height: 80vh;
	overflow-y: scroll;
}

.cylinder div:last-of-type {
	margin-bottom: 0;
}

.cylinder::-webkit-scrollbar {
	width: 0;
}

.cylinder::-moz-scrollbar {
	width: 0px;
	height: 0px;
}

.excellence .text-box,
.contacts .text-box {
	left: 0;
}

.a11y-slider-container>button {
	display: none;
}

// ! МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА МЕДИА
@include for-desktop-down {
	.text-box {
		font-size: var(--fs-primary-d1200);
	}

	.subtitle {
		font-size: var(--fs-accent-d1200);
	}

	.subtitle h4 {
		font-size: calc(var(--fs-accent-d1200) * 0.6);
	}
}

@include for-tablet-down {
	.text-box {
		font-size: var(--fs-primary-d900);
	}

	.subtitle {
		font-size: var(--fs-accent-d900);
	}

	.subtitle h4 {
		font-size: calc(var(--fs-accent-d900) * 0.6);
	}
}

@include for-phone-down {
	.text-box {
		left: auto;
		width: 61%;
		margin: 0 auto 2em;
		font-size: var(--fs-primary-d600);
	}

	#intro {
		left: auto;
		width: 100%;
		box-shadow: inset 7.53377px -11.5222px 33.2372px hsl(206, 45%, 38%); //!todo сделать параметры в отн.еденицах
		font-size: calc(var(--fs-primary-d600)*1.37);
	}

	.cylinder {
		height: 32vh;
	}

	.subtitle {
		font-size: var(--fs-accent-d600);
	}

	.subtitle h4 {
		font-size: calc(var(--fs-accent-d600) * 0.3129);
	}

}