.main {

	display: block;



	&__section {
		width: 100%;
		margin-bottom: 10vh;
		min-height: fit-content;
	}
}

.subtitle {
	position: relative;
	z-index: 1;
	font-family: var(--ff-accent);
	font-weight: 800;
	font-style: normal;
	font-size: var(--fs-accent);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
	margin-left: 50px;
}

.subtitle h4 {
	font-size: calc(var(--fs-accent) * 0.6);

}

.text-box {
	position: relative;
	padding: 1.1em 0.5em 1.1em 1.39em;
	/* отступы отсчитываются от --fs-primary */
	background: rgba(0, 0, 0, 0.66);
	mix-blend-mode: hard-light;
	font-family: var(--ff-primary);
	font-weight: 400;
	font-size: clamp(0.875rem, calc(5vw - 1rem), 2.25rem);
	/* тут нудо сделать медиазапросы и в них уже по частям назначать clamp */
	line-height: 1.5em;
	letter-spacing: 0.02em;
	color: rgba(0, 209, 255, 1);
	width: 50%;
	left: 50%;
	z-index: 2;
}

#intro {
	position: relative;
	left: 190px;
	width: 46.5vw;
	/* 	aspect-ratio: 11/5; */
	min-height: 100px;

}

.about {
	display: flex;
	flex-direction: column;
	gap: 50px;


	height: 950px;
	/*!todo: настроить относительный размер */
	overflow-y: scroll;
}

.about .subtitle {
	position: sticky;
	top: 0;
	align-self: flex-start;
}

.regions {
	position: relative;
	height: 1470px;
}

.regions h3 {
	margin-bottom: 100px;
}