.nav {
	position: fixed;
	height: 50vh;
	margin-top: 25vh;

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	&__item {
		transform: rotate(270deg);
		margin-bottom: 70px;
		text-decoration: none;
		color: #fff;
	}
}



.link {
	display: block;

}