	:root {
		--fs-title: 12.5rem;
		// размер шрифта шапки
		--fs-title-secondary: 3rem;
		// размер шрифта вторичный
		--lh-title: 1.13em;
		// ширина строки шапки

		--circle-drift: 103px;
		// дичь

		--ff-primary: 'roboto-mono';
		// шрифт основной
		--ff-accent: 'object-sans';
		// шрифт заголовков

		--fs-primary: 2.25rem;
		// размер шрифта основной*/
		--fs-accent: 5rem;
		// размер шрифта заголовков

		--clr-text-table: hsla(205, 100%, 82%, 1);

		// цвет текста
		--clr-: #fff;
		// дичь
		--clr-: #fff;
		// дичь
		--clr-: #fff;
		// дичь
		--clr-: #fff;
		// дичь
	}