html {
	background: linear-gradient(180deg, hsl(205, 45%, 38%) 4.69%, #4A8FAD 22.92%, #5DA9D5 49.48%, #528CC2 67%, #183958 100%);
}

body {

	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.wrapper {
	max-width: 3840px;
	overflow: hidden;
	margin: 0 auto;

	//background-image: url('../img/Line.svg'); /* !! Вот сюда заменяется файл */
	background-repeat: no-repeat;
	background-position: 80% 17%;
}

// плейсхолдер о работах
.notabene {
	background-color: rgb(0, 0, 0, .6);
	font-family: var(--fs-primary);
	font-size: calc(var(--fs-primary)*0.5);
	color: hsl(0, 0%, 100%);
	width: 100%;
}

.notabene>p {
	width: 50%;
	margin: 0 auto;
	line-height: 1.5em;
}

.notabene>p span {
	margin-left: 2em;
}

.sertificat {
	max-height: fit-content;
	max-width: 45%;
	min-width: 25%;
	margin: 0 auto;
}

@import 'globals/_nullstyle.scss';
@import 'globals/_fonts.scss';
@import 'variables/_var.scss';
@import 'variables/_mixins.scss';
@import 'globals/_slick.scss';
@import 'partial/_nav.scss';
@import 'partial/_header.scss';
@import 'partial/_main.scss';
@import 'partial/_regions.scss';
@import 'partial/_personnel.scss';
@import 'partial/_equipment.scss';
@import 'partial/_software.scss';