html {
	background: linear-gradient(180deg, hsl(205, 45%, 38%) 4.69%, #4A8FAD 22.92%, #5DA9D5 49.48%, #528CC2 67%, #183958 100%);
}

body {
	
}

@import '../source/globals/_nullstyle';
@import '../source/globals/_fonts';
@import '../source/variables/_var';
@import '../source/variables/_mixins';
@import '../source/globals/_general-layout';
@import '../source/partial/_nav';
@import '../source/partial/_header';
@import '../source/partial/_main';
@import '../source/partial/_map';
@import '../source/partial/_card-box';
@import '../source/partial/_equipment.scss';
@import '../source/partial/_footer';

body {
	box-sizing: border-box;

}

.wrapper {
	max-width: 1920px;
	overflow: hidden;
	margin: 0 auto;
	mix-blend-mode: normal;

}

//вот тут могут быть проблемы при адаптации !!!Note bene
.background {
	position: relative;
	min-width: 100%;
	height: fit-content;
	z-index: 0;
	background: linear-gradient(180deg, #35688C 4.69%, #4A8FAD 22.92%, #5DA9D5 49.48%, #528CC2 67%, #183958 100%);
	background-image: url('/img/Line.svg') 100% no-repeat;
}
